[submodule "humanytek-team/project_privacy_enforcer"]
	path = humanytek-team/project_privacy_enforcer
	url = git@github.com:humanytek-team/project_privacy_enforcer.git
	branch = master

[submodule "humanytek-team/project_default_stages"]
	path = humanytek-team/project_default_stages
	url = git@github.com:humanytek-team/project_default_stages.git
	branch = master

[submodule "humanytek-team/project_unique_name"]
	path = humanytek-team/project_unique_name
	url = git@github.com:humanytek-team/project_unique_name.git
	branch = master

[submodule "humanytek-team/project_task_types"]
	path = humanytek-team/project_task_types
	url = git@github.com:humanytek-team/project_task_types.git
	branch = master

[submodule "humanytek-team/121c"]
	path = humanytek-team/121c
	url = git@github.com:humanytek-team/121c.git
	branch = master
